<template>
    <v-container :fluid="true" class="d-flex justify-center align-center fill-height">
        <div class="bg-image"></div>
        <v-row>
            <v-col cols="12">
                <div class="d-flex justify-center align-center flex-column text-center">
                    <v-card
                        class="pa-6 rounded" width="400" max-width="400">
                        <v-img
                        alt="Vetvite logo"
                        class="shrink mx-auto"
                        contain
                        min-width="100"
                        src="@/assets/images/logo/logo-blue.png"
                        width="100"
                        />
                        <v-card-title class="text-center d-block">Se connecter à Vetvite</v-card-title>
                        <v-alert id="loginError" class="d-none align-center" color="error" text>
                          <b>Les identifiants que vous avez entrés ne correspondent pas.</b>
                          <br>
                          Veuillez vérifier et réessayer.
                        </v-alert>
                        <v-form ref="form" @submit.prevent="login">
                            <v-text-field
                                v-model="email"
                                type="email'"
                                :rules="[$utils.rules.required, $utils.rules.email]"
                                label="Adresse e-mail" value="" required>
                            </v-text-field>
                            <v-text-field
                                v-model="password"
                                type="password"
                                :rules="[$utils.rules.required]"
                                label="Mot de passe">
                            </v-text-field>
                            <v-btn depressed type="submit" color="primary" class="mt-2"
                                 :loading="loading"
                                 :disabled="loading"
                                 full-width>Connexion</v-btn>
                        </v-form>
                    </v-card>
                    <div class="mt-2 white--text">
                      <router-link :to="{name:'ForgotPassword'}" class="white--text hover-underline hover-opacity">Mot de passe oublié ?</router-link>
                      <span class="mx-2">·</span>
                      <router-link :to="{name:'Register'}" class="white--text hover-underline hover-opacity">S'inscrire sur Vetvite</router-link>
                    </div>
                </div>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
export default {
    name: 'Login',
    data(){
      return {
        loading: false,
        email : "",
        password : "",
      }
    },
    methods: {
      login: function () {
        let email = this.email;
        let password = this.password;

        this.loading = true;
        let errorAlert = document.getElementById('loginError');
        errorAlert.classList.add('d-none');

        this.$store.dispatch('login', { email, password })
        .then(() => this.$router.push({name: "Home"}))
        .catch(err => {
          errorAlert.classList.add('d-flex');
          console.log(err);
          this.loading = false;
        });
      }
    }
}
</script>
