<template>
  <v-container :fluid="true" class="d-flex justify-center align-center fill-height">
    <div class="bg-image"></div>
    <v-row>
      <v-col cols="12">
        <div class="d-flex justify-center align-center flex-column text-center">
          <v-card class="pa-6" v-if="token" width="500">
            <v-img
                alt="Vetvite logo"
                class="shrink mx-auto"
                contain
                min-width="100"
                src="@/assets/images/logo/logo-blue.png"
                width="100"
            />
            <v-card-title class="text-center d-block">Réinitialisation de votre mot de passe</v-card-title>

            <v-alert id="errorAlert" class="d-none align-center" text color="error"></v-alert>
            <v-alert id="successAlert" class="d-none align-center" text color="success">
              Votre mot de passe à bien été modifié !
              <br><br>Connexion en cours ..
            </v-alert>

            <v-form ref="form" class="px-3" @submit.prevent="resetPassword" v-model="valid">
              <v-text-field type="password"
                            v-model="password" :rules="[$utils.rules.required, $utils.rules.min, $utils.rules.password, $utils.rules.max]"
                            label="Saisissez un nouveau mot de passe"
              />
              <v-text-field type="password"
                            v-model="repeatpassword" :rules="[rules.passwordConfirmationRule]"
                            label="Confirmez votre nouveau mot de passe"
              />

              <p class="font-weight-bold font-italic mt-5 py-5 text-center">
                <small>
                  Pour une sécurité optimale, merci de choisir un mot de passe contenant des
                  majuscules/minuscules/chiffres et caractères spéciaux
                </small>
              </p>
              <v-btn depressed type="submit" color="primary" class="mt-2" full-width :loading="loading"
                     :disabled="loading || !valid">Réinitialiser
              </v-btn>
            </v-form>
          </v-card>
          <v-card class="pa-6" v-else width="500">
            <v-img
                alt="Vetvite logo"
                class="shrink mx-auto"
                contain
                min-width="100"
                src="@/assets/images/logo/logo-blue.png"
                width="100"
            />
            <v-card-title class="text-center d-block">Réinitialisation de votre mot de passe</v-card-title>

            <v-alert class="d-flex text-center" type="error">
              Token de réinitialisation du mot de passe invalide !
            </v-alert>
          </v-card>
          <router-link :to="{name:'Login'}" class="mt-2 white--text hover-underline hover-opacity">Se connecter ?
          </router-link>
        </div>
      </v-col>
    </v-row>
  </v-container>

</template>

<script>
import Vue from "vue";

export default {
  name: 'ResetPassword',
  data() {
    return {
      loading: false,
      valid: false,
      password: "",
      repeatpassword: "",
      token: this.$route.query.token ?? null,
      rules: {
        passwordConfirmationRule: () => (this.password === this.repeatpassword) || 'Les deux mot de passe ne correspondent pas !',
      },
    }
  },
  methods: {
    resetPassword: function () {

      this.loading = true;

      let errorAlert = document.getElementById('errorAlert');
      let successAlert = document.getElementById('successAlert');

      errorAlert.classList.remove('d-flex');
      successAlert.classList.remove('d-flex');

      Vue.prototype.$apiRest.patch('/user/reset', {token: this.token, plainPassword: this.password}).then((resp) => {
        successAlert.classList.add('d-flex');
        this.$store.dispatch('login', {
          email: resp.data.email,
          password: this.password
        }).then(() => this.$router.push({name: "Home"})).catch(err => {
          errorAlert.classList.add('d-flex');
          console.log(err);
          this.loading = false
        });
      }).catch(err => {
        errorAlert.innerHTML = err.response ? (err.response.data ? err.response.data : err.response) : err;
        errorAlert.classList.add('d-flex');
        this.loading = false
      })
    }
  }
}
</script>

