<template>
    <div v-if="office">
        <section class="primary darken-4 mb-3 white--text py-5">
            <v-container>
                <div class="d-flex flex-column align-start flex-sm-row align-center">
                    <v-avatar
                        color="accent"
                        rounded
                        size="130"
                        class="mr-5"
                    >
                        <img
                            alt="Avatar"
                        >
                    </v-avatar>
                    <div class="py-3 text-center text-sm-left">
                        <div class="text-h4">
                            {{office.name}}
                        </div>
                    </div>
                </div>
            </v-container>
        </section>
        <section>
            <v-container>
                <v-row justify="center">
                    <v-col
                        cols="12"
                        md="7"
                        lg="8"
                        order="2"
                        order-md="0"
                    >
                        <v-sheet elevation="0" class="pa-4 mb-5 w-100">
                            <div class="text-subtitle-1 pa-0 mb-3">
                                <v-icon left>mdi-map-marker-outline</v-icon> Présentation
                            </div>
                            <div class="pl-9">
                                {{office.description}}
                            </div>
                        </v-sheet>
                        <v-row align="stretch" class="mx-0 mb-5">
                            <v-col
                                cols="12"
                                sm="8"
                                order="2"
                                order-md="0"
                                class="pa-0"
                            >
                                <v-sheet elevation="0" class="pa-4" height="100%" width="100%">
                                    <div class="text-subtitle-1 pa-0 mb-3">
                                        <v-icon left>mdi-map-marker-outline</v-icon> Accès cabinet
                                    </div>
                                    <div class="pl-9">
                                        <p>
                                        {{office.address}}<br>
                                        {{office.postalCode}} {{office.city}} {{office.country}}<br>
                                        </p>
                                        <p>
                                        <v-icon>mdi-phone</v-icon> {{office.phoneNumber}}<br>
                                        <v-icon>mdi-fax</v-icon> {{office.faxNumber}}<br>
                                        <v-icon>mdi-email</v-icon> {{office.email}}
                                        </p>
                                    </div>
                                </v-sheet>
                            </v-col>
                            <v-col
                                cols="12"
                                sm="4"
                                order="2"
                                order-md="0"
                                class="pa-0"
                            >
                                <iframe
                                    width="100%"
                                    height="250"
                                    frameborder="0"
                                    style="border:0"
                                    :src="'https://maps.google.com/maps?hl=fr&q=' + office.address + ', ' + office.postalCode + ', ' + office.city + ', ' + office.country + '&ie=UTF8&z=13&output=embed'"
                                    allowfullscreen>
                                </iframe>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col
                        cols="12"
                        sm="8"
                        md="5"
                        lg="4"
                        order="1"
                    >
                        <v-sheet class="take-rdv rounded" elevation="1">
                            <div class="pa-3 text-center justify-center primary white--text">
                                <v-icon color="white" left>mdi-calendar-range</v-icon> Prendre rendez-vous avec un praticien de ce cabinet
                            </div>
                            <v-list>
                                <v-list-item-group color="primary">
                                    <template v-for="(pro, index) in office.pros">
                                        <v-list-item class="d-flex pa-3 align-center" :key="'list-' + index" :to="{name: 'Professional', params: {id: pro.id, office: office.id}}">
                                            <v-avatar size="56">
                                            <img
                                                alt="user"
                                                :src="pro.avatar"
                                            >
                                            </v-avatar>
                                            <div class="ml-3">
                                                <b>{{pro.firstName}} {{pro.lastName}}</b><br>
                                                {{pro.job}}
                                            </div>
                                        </v-list-item>
                                        <v-divider
                                         :key="'divider-' + index"
                                        ></v-divider>
                                    </template>
                                </v-list-item-group>
                            </v-list>
                        </v-sheet>
                    </v-col>
                </v-row>
            </v-container>
        </section>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex';
export default {
    name: 'OfficeShow',
    methods:{
        ...mapActions(['loadOffice']),
    },
    computed: {
        ...mapGetters({
            office: 'getCurrentOffice'
        }),
    },
    async mounted() {
        await this.loadOffice(this.$route.params.officeId);
    }
}
</script>

<style scoped>
    .v-list{
        padding:0;
    }
    .take-rdv{
        margin-top: -57px;
        overflow:hidden;
    }
</style>