<template>
  <v-list>
    <v-list-item-group color="primary">

      <router-link :to="{name: 'ConfirmationRegistration'}" class="text-decoration-none" v-show="!$store.getters.isVerified">
        <v-list-item style="background-color: #13ACB2 !important; color: white !important;">
          <v-list-item-icon>
            <v-icon>mdi-account-check</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Confirmer mon compte</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </router-link>

      <router-link :to="{name: 'Customers'}" class="text-decoration-none" v-if="$store.getters.isAdmin">
        <v-list-item>
          <v-list-item-icon>
            <v-icon>mdi-progress-wrench</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Administration</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </router-link>

      <router-link :to="{name: 'MyProfile'}" class="text-decoration-none">
        <v-list-item>
          <v-list-item-icon>
            <v-icon>mdi-account</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Mon compte</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </router-link>

      <router-link :to="{name: 'MyAvailabilities'}" class="text-decoration-none" v-if="$store.getters.isPro">
        <v-list-item>
          <v-list-item-icon>
            <v-icon>mdi-check-circle-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Mes disponibilités</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </router-link>

      <router-link :to="{name: 'MyOffices'}" class="text-decoration-none" v-if="$store.getters.isPro">
        <v-list-item>
          <v-list-item-icon>
            <v-icon>mdi-domain</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Mes cabinets</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </router-link>

      <router-link :to="{name: 'CustomerAppointments'}" class="text-decoration-none">
        <v-list-item>
          <v-list-item-icon>
            <v-icon>mdi-calendar</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Mes rendez-vous</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </router-link>

      <router-link :to="{name: 'MySchedule'}" class="text-decoration-none" v-if="$store.getters.isPro">
        <v-list-item>
          <v-list-item-icon>
            <v-icon>mdi-calendar-month</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Mon planning</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </router-link>

      <v-list-item @click="handleLogout">
        <v-list-item-icon>
          <v-icon>mdi-logout</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Déconnexion</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list-item-group>
  </v-list>
</template>

<script>
export default {
  name: 'AccountMenuList',
  inject: ['logout'],
  methods: {
    handleLogout() {
      this.logout();
    }
  }
}
</script>
