<template>
  <div class="code-input">
    <template v-for="(v, index) in values">
      <input
        :type="type === 'number' ? 'tel' : type"
        :pattern="type === 'number' ? '[0-9]' : null"
        :autoFocus="autoFocus && index === autoFocusIndex"
        :style="{
          width: `${fieldWidth}px`,
          height: `${fieldHeight}px`
        }"
        :key="`${id}-${index}`"
        :data-id="index"
        :value="v"
        :ref="iRefs[index]"
        v-on:input="onValueChange"
        v-on:focus="onFocus"
        v-on:keydown="onKeyDown"
        maxlength="1"
      />
    </template>
  </div>
</template>

<script>

const KEY_CODE = {
  backspace: 8,
  up: 38,
  right: 39,
  down: 40,
  left: 37,
};

export default {
  name: "VerificationCodeInput",
  props: {
    type: {
      type: String,
      default: "number"
    },
    fields: {
      type: Number,
      default: 6
    },
    fieldWidth: {
      type: Number,
      default: 58
    },
    fieldHeight: {
      type: Number,
      default: 54
    },
    autoFocus: {
      type: Boolean,
      default: true
    },
    complete: Function,
  },
  data() {

    const { fields } = this;
    let vals;
    let autoFocusIndex = 0;

    vals = Array(fields).fill("");

    this.iRefs = [];
    for (let i = 0; i < fields; i++) {
      this.iRefs.push(`input_${i}`);
    }

    this.id = + new Date();
    return { values: vals, autoFocusIndex };

  },
  methods: {
    onFocus(e) {
      e.target.select(e);
    },
    onValueChange(e) {
      const index = parseInt(e.target.dataset.id);
      const { fields } = this;

      if (e.target.value === "") {
        return;
      }

      let next;
      const value = e.target.value;
      let { values } = this;

      values = Object.assign([], values);

      if (value.length > 1) {

        let nextIndex = value.length + index - 1;
        if (nextIndex >= fields) {
          nextIndex = fields - 1;
        }

        next = this.iRefs[nextIndex];
        const split = value.split("");

        split.forEach((item, i) => {
          const cursor = index + i;
          if (cursor < fields) {
            values[cursor] = item;
          }
        });

        this.values = values;
      } else {
        next = this.iRefs[index + 1];
        values[index] = value;
        this.values = values;
      }

      if (next) {
        const element = this.$refs[next][0];
        element.focus();
        element.select();
      }

      this.triggerChange(values);
    },
    onKeyDown(e) {
      const index = parseInt(e.target.dataset.id);
      const prevIndex = index - 1;
      const nextIndex = index + 1;
      const prev = this.iRefs[prevIndex];
      const next = this.iRefs[nextIndex];
      switch (e.keyCode) {
        case KEY_CODE.backspace: {
          e.preventDefault();
          const vals = [...this.values];
          if (this.values[index]) {
            vals[index] = "";
            this.values = vals;
            this.triggerChange(vals);
          } else if (prev) {
            vals[prevIndex] = "";
            this.$refs[prev][0].focus();
            this.values = vals;
            this.triggerChange(vals);
          }
          break;
        }
        case KEY_CODE.left:
          e.preventDefault();
          if (prev) {
            this.$refs[prev][0].focus();
          }
          break;
        case KEY_CODE.right:
          e.preventDefault();
          if (next) {
            this.$refs[next][0].focus();
          }
          break;
        case KEY_CODE.up:
          e.preventDefault();
          break;
        case KEY_CODE.down:
          e.preventDefault();
          break;
        default:
          break;
      }
    },
    triggerChange(values = this.values) {
      const { fields } = this;
      const val = values.join("");
      if (val.length >= fields) {
        this.$emit("complete", val, this.reset);
      }
    },
    reset() {
      this.values = this.values.map(() => '');
      this.$refs[this.iRefs[0]][0].focus();
    },
  }
};
</script>

<style scoped lang="scss">
  .code-input > input {
    border: solid 1px #a8adb7;
    border-right: none;
    font-size: 20px;
    color: #525461;
    text-align: center;
    box-sizing: border-box;
    border-radius: 0;
    -webkit-appearance: initial;

    &:last-child {
      border-right: solid 1px #a8adb7;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    &:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    &:focus {
      outline: none;
      border: 1px solid #13ACB2;
      caret-color: #13ACB2;

      + input {
        border-left: none;
      }
    }
  }
</style>
