<template>
  <div>
    <section class="primary darken-4 mb-3 white--text py-5">
      <v-container>
        <div class="d-flex flex-row align-center">
          <div class="d-flex flex-column justify-center mr-5">
            <v-avatar color="accent" rounded size="130">
              <img alt="Avatar" :src="tempUser.avatar">
            </v-avatar>
          </div>

          <div class="py-3 text-center text-sm-left">
            <div class="text-h4">
              <b>{{ tempUser.firstName }}</b> <small>{{ tempUser.lastName }}</small>
            </div>
            <div class="text-h6">
              <small>{{ tempUser.email }} | {{ tempUser.phoneNumber }}</small>

              <div v-if="tempUser.enabled === 1" class="d-flex flex-row">
                <v-icon color="success">mdi-check-circle</v-icon>
                <p style="font-size: 14px;" class="mb-0 ml-2 success--text">Votre adresse email est vérifié !</p>
              </div>
              <div v-else class="">
                <div class="d-flex flex-row align-center">
                  <v-icon color="red">mdi-alert-circle</v-icon>
                  <p style="font-size: 14px;" class="mb-0 mx-2 red--text">Merci de vérifier votre adresse email !</p>
                </div>
                <div class="d-flex flex-row align-center mt-2">
                  <v-btn color="red" x-small class="white--text mr-2" @click="resendModal.dialog = true">Renvoyer l'email de vérification ?</v-btn>
                  <router-link :to="{name: 'ConfirmationRegistration'}" class="text-decoration-none">
                    <v-btn color="success" x-small class="white--text">Saisir le code de vérification ?</v-btn>
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </v-container>
    </section>

    <section>
      <v-container>
        <v-row justify="center">
          <v-col cols="12" class="my-0 pt-3 pb-0">
              <v-row v-if="this.isPro">
                <v-col cols="12" md="4">
                  <router-link :to="{name:'MyAvailabilities'}" class="text-decoration-none">
                    <v-btn color="info white--text" large block>Mes disponibilités</v-btn>
                  </router-link>
                </v-col>

                <v-col cols="12" md="4">
                  <router-link :to="{name:'MyOffices'}" class="text-decoration-none">
                    <v-btn color="indigo white--text" large block>Mes cabinets</v-btn>
                  </router-link>
                </v-col>

                <v-col cols="12" md="4">
                  <router-link :to="{name:'MySchedule'}" class="text-decoration-none">
                    <v-btn color="teal white--text" large block>Mes rendez-vous Pro</v-btn>
                  </router-link>
                </v-col>
              </v-row>
              <v-row v-else-if="this.isAdmin">
                <v-col cols="12">
                  <router-link :to="{name:'Customers'}" class="text-decoration-none">
                    <v-btn color="info white--text" large block>Administration</v-btn>
                  </router-link>
                </v-col>
              </v-row>
              <v-row v-else-if="this.isClient">
                <v-col cols="12" md="6">
                  <router-link :to="{name:'Search'}" class="text-decoration-none">
                    <v-btn color="info white--text" large block>Prendre un nouveau rendez-vous</v-btn>
                  </router-link>
                </v-col>
                <v-col cols="12" md="6">
                  <router-link :to="{name:'CustomerAppointments'}" class="text-decoration-none">
                    <v-btn color="indigo white--text" large block>Mes rendez-vous</v-btn>
                  </router-link>
                </v-col>
              </v-row>
          </v-col>
        </v-row>
      </v-container>
    </section>

    <section>
      <v-container>
        <v-row justify="center">
          <v-col cols="12">
            <v-card elevation="0" class="pa-4 w-100">
              <v-card-title>Mes informations</v-card-title>
              <v-card-text>
                <v-form @submit.prevent="saveInformation">
                  <v-row>
                    <v-col cols="12" md="4" class="py-0">
                      <v-select
                          v-model="tempUser.gender"
                          :items="genders"
                          label="Civilité" required
                      ></v-select>
                    </v-col>
                    <v-col cols="12" md="4" class="py-0">
                      <v-text-field
                          v-model="tempUser.lastName" type="text"
                          :rules="[$utils.rules.required]"
                          label="Nom" required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4" class="py-0">
                      <v-text-field
                          v-model="tempUser.firstName" type="text"
                          :rules="[$utils.rules.required]"
                          label="Prénom" required
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12" md="4" class="py-0">
                      <v-text-field
                          v-model="tempUser.dob" type="date"
                          label="Date de naissance"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4" class="py-0">
                      <v-text-field
                          v-model="tempUser.email" type="email"
                          :rules="[$utils.rules.required, $utils.rules.email]"
                          label="Adresse email" required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4" class="py-0">
                      <v-text-field
                          v-model="tempUser.phoneNumber" type="phone"
                          :counter="10"
                          :rules="[$utils.rules.required, $utils.rules.phoneNumber]"
                          label="Numéro de téléphone" required
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12">
                      <v-btn depressed type="submit" color="primary" class="mt-2" full-width
                             :loading="saveInformationLoading" :disabled="saveInformationLoading">Modifier mes
                        informations
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-form>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </section>

    <section class="mt-0">
      <v-container>
        <v-row justify="center">
          <v-col cols="12">
            <v-card elevation="0" class="pa-4 w-100">
              <v-card-title>Mon adresse</v-card-title>
              <v-card-text>
                <v-form @submit.prevent="saveAdress">
                  <v-row>
                    <v-col cols="12" class="my-0 py-0">
                      <v-text-field
                          v-model="tempUser.address" type="text"
                          :rules="[$utils.rules.required]"
                          label="Adresse"
                          required
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12" md="4" class="my-0 py-0">
                      <v-text-field
                          v-model="tempUser.postalCode" type="text"
                          :rules="[$utils.rules.required,$utils.rules.postalCode]" :counter="5"
                          label="Code postale"
                          required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4" class="my-0 py-0">
                      <v-text-field
                          v-model="tempUser.city" type="text"
                          :rules="[$utils.rules.required]"
                          label="Ville"
                          required
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4" class="my-0 py-0">
                      <v-select
                          v-model="tempUser.country"
                          :items="contries"
                          label="Pays"
                          required
                      ></v-select>
                    </v-col>
                    <v-col cols="12" class="my-0 py-0">
                      <v-btn depressed type="submit" color="primary" full-width
                             :loading="saveAddressLoading" :disabled="saveAddressLoading">Modifier mon adresse
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-form>
                <div class="mt-5">
                  <iframe width="100%" height="250" frameborder="0" style="border:0"
                          :src="'https://maps.google.com/maps?hl=fr&q=' + fullAddress + '&ie=UTF8&z=13&output=embed'"
                          allowfullscreen>
                  </iframe>
                </div>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </section>

    <section class="mt-0">
      <v-container>
        <v-row justify="center">
          <v-col cols="12">
            <v-card elevation="0" class="pa-4 w-100">
              <v-card-title>Actions</v-card-title>
              <v-card-text>
                <v-btn depressed color="warning" class="mr-2 my-1" small
                       @click="modals.updatePasswordModal.dialog = true">
                  Modifier mon mot de passe
                </v-btn>
                <v-btn depressed color="info" class="mr-2 my-1" small @click="modals.downloadModal.dialog = true">
                  Télecharger toutes mes données
                </v-btn>
                <v-btn depressed color="error" class="mr-2 my-1" small @click="modals.deleteModal.dialog = true">
                  Supprimer mon compte
                </v-btn>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </section>

    <section class="mt-0">
      <v-container>
        <v-row justify="center">
          <v-col cols="12">
            <v-card elevation="0" class="pa-4 w-100">
              <v-card-title>Métadata</v-card-title>
              <v-card-text>
                <p><b>Membre depuis le : </b> {{ moment(tempUser.createdAt) }}</p>
                <p><b>Dernière connexion : </b> {{ moment(tempUser.lastConnectionAt) }}</p>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </section>

    <v-dialog v-model="modals.updatePasswordModal.dialog" width="500px">
      <v-card class="py-2 px-5">
        <v-card-title class="headline my-4 text-center">
          Modifier mon mot de passe
        </v-card-title>
        <v-form ref="form" class="px-5" @submit.prevent="" v-model="modals.updatePasswordModal.isValid">
          <v-text-field type="password"
                        v-model="plainPassword" :rules="[$utils.rules.required, $utils.rules.min, $utils.rules.password, $utils.rules.max]"
                        label="Saisissez un nouveau mot de passe"
          />
          <v-text-field type="password"
                        v-model="repeatpassword" :rules="[rules.passwordConfirmationRule]"
                        label="Confirmez votre nouveau mot de passe"
          />

          <p class="font-weight-bold font-italic py-5 text-center">
            <small>
              Pour une sécurité optimale, merci de choisir un mot de passe contenant des
              majuscules/minuscules/chiffres et caractères spéciaux
            </small>
          </p>
        </v-form>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="secondary lighten-3" text @click="modals.updatePasswordModal.dialog = false">Annuler</v-btn>
          <v-btn color="error" text @click="changePassword" :loading="modals.updatePasswordModal.loading"
                 :disabled="modals.updatePasswordModal.loading || !modals.updatePasswordModal.isValid">
            Modifier
          </v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="modals.deleteModal.dialog" width="500px">
      <v-card class="py-2">
        <v-card-title class="headline my-4 justify-center">
          Supprimer définitivement mon compte ?
          <br>
          <div class="font-italic text-center w-100" style="font-size: 50%;">Toutes vos données seront supprimées et ne
            pourront être récupérée !
          </div>
        </v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="secondary lighten-3" text @click="modals.deleteModal.dialog = false">Annuler</v-btn>
          <v-btn color="error" text @click="deleteAccount" :loading="modals.deleteModal.loading"
                 :disabled="modals.deleteModal.loading">
            Supprimer
          </v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="modals.updateEmail.dialog" width="500px">
      <v-card class="py-2">
        <v-card-title class="headline my-4 justify-center">
          Modifier votre adresse email ?
          <br>
          <div class="font-italic text-center w-100" style="font-size: 50%;">
            En modifiant votre adresse email, vous allez être déconnecté !
          </div>
        </v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="secondary lighten-3" text @click="modals.updateEmail.dialog = false; modals.updateEmail.stop()">
            Annuler
          </v-btn>
          <v-btn color="error" text @click="modals.updateEmail.continue()">
            Modifier
          </v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="modals.downloadModal.dialog" width="500px">
      <v-card class="py-2">
        <v-card-title class="headline my-4 justify-center">
          Télécharger l'ensemble de mes données ?
          <br>
          <div class="font-italic text-center w-100" style="font-size: 50%;">Vous recevrez prochainement un email avec
            l'ensemble des vos données !
          </div>
        </v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="secondary lighten-3" text @click="modals.downloadModal.dialog = false">Annuler</v-btn>
          <v-btn color="blue" text @click="downloadData" :loading="modals.downloadModal.loading"
                 :disabled="modals.downloadModal.loading">
            Télécharger
          </v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar v-model="snackbarSuccess" :timeout="3000" color="success">
      <span id="profilSuccessMessage"></span>
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="snackbarSuccess = false">Fermer</v-btn>
      </template>
    </v-snackbar>

    <v-snackbar v-model="snackbarError" :timeout="3000" color="error">
      <span id="profilErrorMessage">Sauvegarde des données impossible !</span>
      <template v-slot:action="{ attrs }">
        <v-btn color="white" text v-bind="attrs" @click="snackbarError = false">Fermer</v-btn>
      </template>
    </v-snackbar>

    <v-dialog v-model="resendModal.dialog" max-width="500px">
      <v-card class="py-2">
        <v-card-title class="headline my-4 text-center">
          Renvoyer un code de confirmation par email ?
        </v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="resendModal.dialog = false">Annuler</v-btn>
          <v-btn color="error" text @click="resendEmail" :loading="resendModal.loading" :disabled="resendModal.loading">
            Renvoyer
          </v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
import moment from "moment";
import {mapActions, mapGetters} from "vuex";
import Vue from "vue";

export default {
  name: 'Profile',
  data() {
    return {
      rules: {
        passwordConfirmationRule: () => (this.plainPassword === this.repeatpassword) || 'Les deux mot de passe ne correspondent pas !',
      },

      tempUser: {},
      oldEmail: null,

      plainPassword: null,
      repeatpassword: null,

      resendModal: {
        dialog: false,
        loading: false,
      },

      contries: [
        {text: 'France', value: 'FR'},
        {text: 'Suisse', value: 'SW'},
        {text: 'Belgique', value: 'BL'},
      ],
      genders: [
        {text: 'Homme', value: 'men'},
        {text: 'Femme', value: 'women'},
        {text: 'Autre', value: 'other'},
      ],
      modals: {
        deleteModal: {
          dialog: false,
          loading: false,
        },
        downloadModal: {
          dialog: false,
          loading: false,
        },
        updatePasswordModal: {
          dialog: false,
          loading: false,
          isValid: false,
        },
        updateEmail: {
          dialog: false,
          continue: () => {
          },
          stop: () => {
          },
        }
      },
      saveInformationLoading: false,
      saveAddressLoading: false,
      snackbarSuccess: false,
      snackbarError: false,
    }
  },
  computed: {
    ...mapGetters(['user', 'isAdmin', 'isPro', 'isClient']),
    fullAddress() {
      return this.tempUser.address + ', ' + this.tempUser.postalCode + this.tempUser.city + ', ' + this.tempUser.country
    },
  },
  filters: {
    capitalize: function (value) {
      if (!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    },
  },
  methods: {
    ...mapActions(['updateUser']),

    moment: function (date, format = 'LLLL') {
      return moment(date).format(format);
    },
    updateInfos() {

      let success = document.getElementById('profilSuccessMessage');

      let oldEmail = this.oldEmail;

      let ok = () => {
        return this.updateUser(this.tempUser).then(() => {
          success.innerText = "Les données ont été sauvegardées !";
          this.snackbarSuccess = true;
          if (this.tempUser.email !== oldEmail) {
            this.$store.dispatch('logout').then(() => {
              this.$router.push({name: 'Home'});
            });
          }
        }).catch((err) => {
          this.snackbarError = true;
          console.warn(err)
        });
      }

      if (this.tempUser.email !== oldEmail) {
        return new Promise((resolve, reject) => {
          this.modals.updateEmail.dialog = true;
          this.modals.updateEmail.continue = resolve;
          this.modals.updateEmail.stop = reject;
        }).then(() => {
          this.modals.updateEmail.dialog = false;
          return ok();
        });
      } else {
        return ok();
      }
    },

    saveInformation() {
      this.saveInformationLoading = true;
      this.updateInfos().finally(() => {
        this.saveInformationLoading = false;
      });
    },
    saveAdress() {
      this.saveAddressLoading = true;
      this.updateInfos().finally(() => {
        this.saveAddressLoading = false;
      });
    },

    changePassword() {
      this.tempUser.plainPassword = this.plainPassword;
      this.modals.updatePasswordModal.loading = true;

      this.updateInfos().finally(() => {
        this.modals.updatePasswordModal.dialog = false;
        this.modals.updatePasswordModal.loading = false;
      });
    },

    downloadData() {
      this.modals.downloadModal.loading = true;

      let success = document.getElementById('profilSuccessMessage');
      let error = document.getElementById('profilErrorMessage');

      return this.$apiRest.post('/user/gdpr/download', {}).then(() => {
        this.modals.downloadModal.loading = false;
        this.modals.downloadModal.dialog = false;

        success.innerText = "Dés que vos données seront prêtes, vous recevrez un email !";
        this.snackbarSuccess = true;
      }).catch((err) => {
        this.snackbarError = true;
        error.innerText = err;
        console.warn(err)
      });

    },
    deleteAccount() {
      this.tempUser.enabled = -99;
      this.modals.deleteModal.loading = true;

      this.updateInfos().finally(() => {
        this.modals.deleteModal.dialog = false;
        this.modals.deleteModal.loading = false;

        this.$store.dispatch('logout').then(() => {
          this.$router.push({name: 'Home'});
        });
      });

    },
    resendEmail() {

      let success = document.getElementById('profilSuccessMessage');
      let error = document.getElementById('profilErrorMessage');
      this.resendModal.loading = true;

      Vue.prototype.$apiRest.post('/user/sendconfirm', {}).then(() => {
        success.innerHTML = `Un nouveau code vient d'être envoyé à <b>${this.user.email}</b>`;
        this.snackbarSuccess = true;
      }).catch(err => {
        console.log(err);
        error.innerHTML = "Erreur lors de l'envoie de l'email !";
        this.snackbarError = true;
      }).finally(() => {
        this.resendModal.dialog = false
        this.resendModal.loading = false
      })

    },
  },
  watch: {
    user: {
      deep: true,
      immediate: true,
      handler(user) {
        this.tempUser = Object.assign({}, user);
        this.oldEmail = user.email;
        this.tempUser.dob = moment(user.dob).format('YYYY-MM-DD');
      }
    }
  },
}
</script>

<style scoped lang="scss">
</style>

